/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .header{
    border: dotted blue;
    background-image:linear-gradient(to bottom right, darkgreen, #0EE67D);
    height:20vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  h1{
    color: white;
    font-family: Shrikhand;
    font-size:3.25em;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input{
    text-align:center;
    border-radius: 3%;

  }
  ::placeholder{
    color: darkgreen;
    font-family: 'Quicksand', sans-serif;
  }
  .submit{
    color: white;
    font-size:.75em;
    border-radius:0;
    font-family: Shrikhand;


  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
